*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}
body{
    background: linear-gradient(90deg, rgba(40,89,67,1) 0%, rgba(14,31,23,1) 50%, rgba(40,89,67,1) 100%);
}
.head{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;    /* eixo X */
    justify-content: center; /* eixo Y */
    font-size: 50px;
    color: white;
    background-color: #285943;
}
.tt{
    width: 400px;
    text-align: center;
    border: 2px solid #77AF9C;
    border-radius: 30px;
    transition: width 1s;
}
#board{
    width: 100%;
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10vh;
}
.box{
    background-color: #77AF9C;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 2px solid white;
    transition: background-color .5s;

}
.box:hover{
    background-color: #5e8a7b;
    transition: background-color .5s;
}
.select{
    width: 80%;
}
.foot{
    width: 100%;
    background-color:   #285943;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    padding: 10px;
    border-radius: 10px;
    background-color:  #0e1f17;
    transition: background-color 1s;
}
.tt:hover{
    width: 800px;
    transition: width 1s;
}
#finalbox{
    width: 100%;
    height: 200px;
    display: none;
}
.finalgame{
    width: 400px;
    height: 150px;
    background: linear-gradient(90deg, rgba(119,175,156,0.4) 0%, rgba(40,89,67,1) 45%, rgba(14,31,23,1) 100%);
    display: block;
    margin: 50px auto;
    color: white;
    text-align: center;
    border-radius: 30px;
    border: 1px solid white;
    padding: 20px;
}
#btn{
    margin-top: 25px;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    background-color: #0e1f17;
    color: white;
    transition: background-color .5s;
}
#btn:hover{
    background-color: #568072;
    transition: background-color .5s;
    color: white;
}