*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}
body{
    background: linear-gradient(90deg, rgba(8,65,92,1) 0%, rgba(238,229,233,1) 50%, rgba(204,41,54,1) 100%);
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
}
.head{
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;    
    justify-content: center; 
    font-size: 50px;
    color: #EEE5E9;
    background-color: #08415C;
}
.tt{
    width: 400px;
    text-align: center;
    border: 2px solid #DE1A1A;
    border-radius: 30px;
    transition: width 1s;
}
.boardbox{
    display: flex;
    justify-self: center;
    align-self: center;
}
#board{
    width: 100%;
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    gap: 2vh;
    align-items: center;
    justify-content: center;
    margin-top: 27.7vh;
    margin-bottom: 27.7vh;
}
.box{
    background-color: #6B818C;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 2px solid #08415C;
    transition: background-color .5s;
    box-shadow: 0px 10px 13px -7px #000000;

}
.select{
    width: 80%;
}
#finalbox{
    width: 100%;
    height: 100%;
    background-color: rgba(238, 229, 233, 0.7);
    float: left;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.finalgame{
    width: 400px;
    background-color: #08415C;
    display: block;
    justify-content: center;
    align-items: center;
    color: #EEE5E9;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 10px 13px -7px #000000;
}
#btn{
    margin-top: 25px;
    cursor: pointer;
    border: 1px solid #DE1A1A;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    background-color: #08415C;
    color: #EEE5E9;
    transition: background-color .5s;
}
.foot{
    width: 100%;
    height: 50px;
    background-color:#08415C;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    justify-self: center;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}
.link{
    text-decoration: none;
    color: #EEE5E9;
}
.link:hover{
    padding: 10px;
    border-radius: 10px;
    background-color:  #DE1A1A;
    transition: background-color 1s;
}
.tt:hover{
    width: 800px;
    transition: width 1s;
}
#btn:hover{
    background-color: rgba(222, 26, 26, 0.8);
    transition: background-color .5s;
    color: #EEE5E9;
}
.box:hover{
    background-color: #EEE5E9;
    transition: background-color .5s;
}
.finalgame p{
    display: inline-block;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    font-size: 30px;
    background-color:rgba(222, 26, 26, 0.8);
}